Source: ros-groovy-gazebo-plugins
Section: misc
Priority: extra
Maintainer: John Hsu <hsu@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), gazebo-current, ros-groovy-angles, ros-groovy-catkin, ros-groovy-cv-bridge, ros-groovy-diagnostic-updater, ros-groovy-driver-base, ros-groovy-dynamic-reconfigure, ros-groovy-gazebo-msgs, ros-groovy-geometry-msgs, ros-groovy-image-transport, ros-groovy-message-generation, ros-groovy-nav-msgs, ros-groovy-nodelet, ros-groovy-pcl-conversions, ros-groovy-pcl-ros, ros-groovy-polled-camera, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-rosgraph-msgs, ros-groovy-rospy, ros-groovy-sensor-msgs, ros-groovy-std-srvs, ros-groovy-tf, ros-groovy-trajectory-msgs, ros-groovy-urdf
Homepage: http://gazebosim.org/wiki/Tutorials#ROS_Integration
Standards-Version: 3.9.2

Package: ros-groovy-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo-current, ros-groovy-angles, ros-groovy-cv-bridge, ros-groovy-driver-base, ros-groovy-dynamic-reconfigure, ros-groovy-gazebo-msgs, ros-groovy-geometry-msgs, ros-groovy-image-transport, ros-groovy-message-generation, ros-groovy-nav-msgs, ros-groovy-nodelet, ros-groovy-pcl-conversions, ros-groovy-pcl-ros, ros-groovy-polled-camera, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-rosgraph-msgs, ros-groovy-rospy, ros-groovy-sensor-msgs, ros-groovy-std-srvs, ros-groovy-tf, ros-groovy-trajectory-msgs, ros-groovy-urdf
Description: Robot-independent Gazebo plugins for sensors, motors and dynamic reconfigurable components.
