Source: ros-jade-gazebo-ros-pkgs
Section: misc
Priority: extra
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://gazebosim.org/tutorials?cat=connect_ros
Standards-Version: 3.9.2

Package: ros-jade-gazebo-ros-pkgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-gazebo-msgs, ros-jade-gazebo-plugins, ros-jade-gazebo-ros
Description: Interface for using ROS with the Gazebo simulator.
